@import '~reset-css/reset.css';
@import './colors/colors.scss';
@import './menu/menu.scss';
@import '~aos/dist/aos.css';
@import './slideshow/slideshow.scss';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  background: $navy;
}

html,body {
  margin: 0; 
  padding: 0; 
  height: 100%;
  font-family: 'Helvetica Nueue', Helvetica, Arial, sans-serif;
  color: #47435b;
}

a {
  color: $gold;
}

.menu {
  font-size: 2em;
  color: $gold;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.overflow-scroll {
  //overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.overflow-auto {
  //overflow: auto;
}

.fixed-height-100 {
  height: 100px;
}

@media (max-width: 800px) {
  .fixed-height-100 {
    height: 50px;
  }
}

.fixed-height-150 {
  height: 150px;
}

@media (max-width: 800px) {
  .fixed-height-150 {
    height: 125px;
  }
}

.full-height {
  height: 100%;
}

header {
  z-index: -2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  .names {
    z-index: 10;
    position: absolute;
    font-size: 4em;
    text-shadow: 1px 0px 0px black;
    font-family: 'Rochester', cursive;
    color: $gold;
    float: right;
    top: 5%;
    left: 5%;
    text-align: right;
  }
}

section {
  padding: 10px 10px 60px 10px;
  margin: 50px 0px;
  overflow: hidden;

  h1 {
    font-family: 'Rochester', cursive;
    color: $gold;
    text-align: center;
    font-size: 2.5em;
    padding: 50px;
  }

  h3 {
    font-family: 'Playfair Display', Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    font-size: 1.5em;
    padding: 10px;
  }

  p {
    line-height: 1.25;
  }
}

.center {
  text-align: center;
  p {
    max-width: 500px;
    margin: auto;
  }
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.full-center {
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translateY(-50%);
}

.clear {
  display: inline-block;
  text-align: left;
}

.uppercase {
  text-transform: uppercase;
}

.pad {
  padding: 7%;
}

.white-bg {
  background-color: #EEE;
  background-image: url("/img/paper_fibers.png");
}

.navy-bg {
  color: #FFF;
}

.event-photo {
  margin: 10px 0px;
  img {
    height: auto;
    max-height: 400px;
    width: 700px;
    max-width: 80%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.5s ease;
  }
  img:hover {
    //background-color: white;
    //opacity: .65;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.circle-photo {
  text-align: center;
  margin: 10px 0px;
  padding: 10px 0px;
  img {
    height: auto;
    max-height: 400px;
    width: 400px;
    max-width: 80%;
    border: 4px solid $gold;
    background-color: $gold;
    border-radius: 50%;
  }

  .description {
    margin: 10px 0px;
    line-height: 1.5em;
    .role {
      font-size: 0.75em;
    }
  }

  @media (min-width: 800px) {
    .description {
      font-size: 1.5em;
    }
  }
}



.split {
  width: 100%;
  margin-bottom: 50px;
}

@media (min-width: 800px) {
  .split {
    float: left;
    width: 50%;
  }
}

.width-two-thirds {
  width: 67%;
}

.width-half {
  width: 50%;
}

.width-full {
  width: 100%;
}

.width-max-500 {
  max-width: 500px;
}

.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.proposal {
  img {
    height: auto;
    width: 90%;
    max-width: 400px;
  }
}

.link {
  div {
    padding: 10px;
    margin: 10px;
  }
  a {
    padding: 5px 10px;
    color: $gold;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75em;
    border: 2px solid $gold;
    letter-spacing: 1px;
    text-decoration: none;
  }
  a:hover {
    color: white;
    background-color: $gold;
  }
}


.circle-photo img {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}