@import '~reset-css/reset.css';
@import './colors/colors.scss';
@import './menu/menu.scss';

html {
  background: $navy;
}

html,body {
  margin: 0; 
  padding: 0; 
  height: 100%;
}

.menu-container {
  position: fixed;
  height: 100%;
  width: 100%;
  //z-index: -1;
}

section {
  padding: 10px;
  margin: 15px 50px;
}

.white-bg {
  background-color: #EEE;
}